.fondo {
  background: lightblue;
}

.botones {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

h2,
h3,
h4 {
  color: #ff7900;
  font-family: monospace;
  text-align: center;
}

.form-text {
  display: flex;
  justify-content: center;

  > .text {
    display: flex;
    flex-direction: column;
  }
}

.form-imagenes {
  border: 2px solid red;
}
