.fondo {
  background: aqua;
}

.botones {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  color: #ff7900;
  font-family: cursive;
  text-align: center;
}

.form__text {
  display: flex;
  justify-content: center;
}
