<div class="fondo">
  <h2>Catálogo componentes</h2>
  <hr />
  <h3>Botones</h3>

  <div class="botones">
    <fooButton fooButtonText="Botón"></fooButton>
    <fooButton
      fooButtonText="Botón 2"
      [fooButtonDisabled]="disabled"
    ></fooButton>
  </div>

  <hr />

  <h3>Texto</h3>
  <div class="form__text">
    <div class="text">
      <fooText
        fooLabelText="Esta es mi label del HTML"
        fooInputName="miInputFoo"
        fooInputPlHo="Este es mi placeholder del HTML"
        fooIdInput="miInputID"
      ></fooText>
    </div>
  </div>
</div>
